# https://lightning.ai/docs/pytorch/stable/api/pytorch_lightning.callbacks.LearningRateMonitor.html
lr_monitor:
  _target_: pytorch_lightning.callbacks.LearningRateMonitor
  logging_interval: "epoch"
