# @package _global_
defaults:
  - train.yaml
  - _self_

# Sample selection
create_training_batch_cache: false # if 'true' it will create a batch cache for the train data using the pretrained model.
model:
  config:
    sample_selection: true

selection_strategy: simple_token_jaccard_drop # either of 'random_drop', 'token_random_drop' or 'simple_token_jaccard_drop' or 'gumbel_token_jaccard_drop'
min_percentage: 0.75
min_percentage_per_class: 0.05 # percentage threshold to determine if dropping elements of a class
sorting_strategy: 'gumbel' # either of 'simple' or 'gumbel'

# General Parameters
task_name: 'sample_selection' # Reference task name
palette: gist_ncar # Color palette used for visualizations
num_batches: null # Number of batches to load for the analysis experiment. If 'null', it loads all batches.
num_scenarios: null # Number of scenarios to consider for analysis experiment. If 'null', it loads all scenarios
select_mode: true # If 'true' selects the best predicted mode for visualization
seed: 42 # Seed for random generators

split: train # Specify split to consider 'train', 'val' or 'test'
scenarios_path: ${paths.base_path}/processed/mini_causal/training # Specify path to input scenarios

# Specify name of experiment to consider
paths:
  # note: current student experiment
  # experiment_dir: causal-benchmark-labeled_scenetokens-student_2025-11-06_23-23-37
  # note: old student experiment
  # experiment_dir: causal-benchmark-labeled_scenetokens-student_token-conditioning-sweep_2025-08-15_12-35-50

  # note: current teacher unmasked experiment
  experiment_dir: causal-benchmark-labeled_scenetokens-teacher-unmasked_2025-11-07_14-51-36
