# https://hydra.cc/docs/configure_hydra/intro/

# enable color logging
defaults:
  - override hydra_logging: colorlog
  - override job_logging: colorlog

# output directory, generated dynamically on each run
run:
  dir: ${paths.log_path}/${task_name}/runs/${now:%Y-%m-%d}
sweep:
  dir: ${paths.log_path}/${task_name}/multiruns/${now:%Y-%m-%d}
  subdir: ${hydra.job.num}

job_logging:
  handlers:
    file:
      filename: ${paths.log_path}/${hydra.job.name}.log
